.content {
    margin: auto;
    max-width: 770px;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: coral;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.title {
    color: coral;
    font-size: 20px;
    font-family: sans-serif;
    padding: 20px;
    border-radius: 2px;
    background-color: white;
    font-weight: bold;
}

input[type=text] {
    width: 500px;
    height: 40px;
    font-size: 15px;
    border: 0px;
    outline: none;
    padding-left: 10px;
}

.searchbar {
    display: flex;
    margin-top: 10px;
}

.add-btn {
    height: 42px;
    width: 80px;
    border: 0px;
    cursor: pointer;
    background-color: lightgrey;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

.add-btn:hover {
    background-color: darkgrey;
}

ul {
    list-style-type: none;
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    align-items: center;
    padding: 0px;
    margin: -10px;
    cursor: pointer;
    
}

li {
    list-style-type: none;
    padding: 10px;
}

ul li:nth-child(odd) {
    background: #bab8b8;
  }
  
ul li:hover {
    background: #ddd;
}
  
.list {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}