.content {
    margin: auto;
    max-width: 770px;
    margin-top: 20px;
}

.header {
    background-color: #f5916d;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.title {
    color: #f5916d;
    font-size: 20px;
    font-family: sans-serif;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    font-weight: bold;
}

input[type=text] {
    width: 500px;
    height: 40px;
    font-size: 15px;
    border: 0px;
    outline: none;
    padding-left: 10px;
    border-radius: 4px;

}

.searchbar {
    display: flex;
    margin-top: 10px;
}

.add-btn {
    height: 42px;
    width: 80px;
    border: 0px;
    cursor: pointer;
    background-color: #5a8584;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px;

}

.add-btn:hover {
    background-color: darkgrey;
}

.list {
    max-height: 480px;
    margin-bottom: 40px;
    overflow-x: hidden;
    overflow-y: auto;
}

ul {
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 0px;
    cursor: pointer;
    margin: 0px;
}

li{
    padding: 25px;
}

.li-list {
    list-style-type: none;
    padding: 0px;
}

ul li:nth-child(even) {
    background-color: #bab8b8;
}

ul li:nth-child(odd) {
    background-color: #d1d8d8;
}

::-webkit-scrollbar {
    width: 6px;

}

::-webkit-scrollbar-track {
    border-radius: 4px;
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #5a8584;
    border-radius: 4px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

ul li:hover {
    background: #ddd;
}

ul li.checked {
    background: #276678;
    color: #fff;
    text-decoration: line-through;
}